<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>INASE</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/imagen.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'documento:index' %}">INASE</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:index_his' %}">Historia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'proyecto:index_pro' %}">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'investigaciones:index_inv' %}">Investigaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'investigaciones:index_infra' %}">Infraestructura</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'documento:index_vin' %}">Vinculacion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenido al futuro</div>
        <div class="intro-heading text-uppercase">Ingeniería aplicada a Sistemas Energéticos</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'documento:index' %}">Conócenos</a>
      </div>
    </div>
  </header>

  {% block body %}

  {% endblock %}
  {% block servicios %}
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">¿Quiénes somos?</h2>
          <h3 class="section-subheading text-muted">Empresa lider en producción e investigación de energías renovables.</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <i class="fa fa-eye fa-4x" aria-hidden="true"></i>
          <h4 class="service-heading">Vision</h4>
          <p class="text-muted">Ser un grupo de investigación consolidado a nivel e internacional y reconocido en el área de sistemas de refrigeración por compresión de vapor empleando la tecnología alternativa de refrigerantes de bajo potencial de calentamiento global.</p>
        </div>
        <div class="col-md-4">
          <i class="fa fa-bullseye fa-4x" aria-hidden="true"></i>
          <h4 class="service-heading">Misión</h4>
          <p class="text-muted">Resolver problemas de la ingeniería térmica enfocados a sistemas de compresión de vapor generando productos de investigación y desarrollo que potencialicen el quehacer del grupo de investigación.</p>
        </div>
        <div class="col-md-4">
           <i class="fa fa-heart fa-4x" aria-hidden="true"></i>
          <h4 class="service-heading">Valores</h4>
          <p class="text-muted">Honestidad, Lealtad, Ética.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
<!-- Clients -->
  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a href="https://conacyt.mx/">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/conacyt.png" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://idea.guanajuato.gob.mx/">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/logs-ideax2.png" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.ugto.mx/">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/ugto.jpg" alt="">
          </a>
        </div>
        <div class="col-md-3 col-sm-6">
          <a href="https://www.ugto.mx/investigacionyposgrado/">
            <img class="img-fluid d-block mx-auto" src="static/img/logos/daip-ug.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/vicente-p%C3%A9rez-garc%C3%ADa-0ba71745/">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline">
                  <li>Universidad de Guanajuato</li>
                  <li>División de Ingenierías</li>
                  <li>Salamanca, Gto.</li>
                  <li>Tel: 464 64 79940 ext:2345</li>
                  <a href="mailto:v.perez@ugto.mx">v.perez@ugto.mx</a>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/agency.min.js' %}"></script>

</body>

</html>