{% extends 'base/base.html' %}
  {% block body %}

  {% endblock %}
  {% block servicios %}
  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Investigaciones</h2>
        </div>
      </div>
      <div class="row text-left">
        <div class="col-md-0.5">
          <a href="https://www.mdpi.com/1996-1073/13/23/6454?type=check_update&version=1">
          <i class="fa fa-link fa-1x" aria-hidden="true"></i>
          <a>
          </div>
          <div class="col-md-15">
            <p class="text-muted">J. M. Belman-Flores, V. H. Rangel-Hernández, V. Pérez-García, A. Zaleta-Aguilar, Qingping Fang,  and D. Méndez-Méndez, An Advanced Exergoeconomic Comparison of CO2 -Based Transcritical Refrigeration Cycles.</p>
          </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/336553598_Influence_of_operational_modes_of_the_internal_heat_exchanger_in_an_experimental_installation_using_R-450A_and_R-513A_as_replacement_alternatives_for_R-134a">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">V. Pérez-García, A. Mota-Babiloni, J. Navarro-Esbrí, Influence of operational modes of the internal heat exchanger in an experimental installation using R-450A and R-513A as replacement alternatives for R-134a, Energy, 189, 2019, 116348.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/333166488_Theoretical_modeling_and_experimental_validation_of_a_small_capacity_diffusion-absorption_refrigerator">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">V. Pérez-García, J.L. Rodríguez-Muñoz, J.M. Belman-Flores, C. Rubio-Maya, J.J. Ramírez-Minguela, Theoretical modeling and experimental validation of a small capacity difusión-absortion refrigerator. Int. J. Refrigeration, 104, 2019, 302-310.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/334075345_NUMERICAL_ANALYSIS_OF_CO2_TRANSIENT_BEHAVIOR_IN_THE_GAS_COOLER_DURING_VARIABLE_START-UP_CONDITIONS_OF_A_TRANSCRITICAL_REFRIGERATION_SYSTEM">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.F. Ituna-Yudonago, J.M. Belman-Flores, F. Elizalde-Blancas, V. Pérez-García, O. García-Valladares, I. Carvajal-Mariscal, Numerical Analysis of CO2 Transient Behavior in the Gas Cooler during Variable start-up Conditions of a Transcritical Refrigeration System. Revista Mexicana de Ingeniería Química, 18, 2019m 1101-1118.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/331540028_Perspectives_on_Consumer_Habits_with_Domestic_Refrigerators_and_Its_Consequences_for_Energy_Consumption_Case_of_Study_in_Guanajuato_Mexico">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">Juan M. Belman-Flores, Diana Pardo-Cely, Francisco Elizalde-Blancas, Armando Gallegos-Muñoz, Vicente Pérez-García, Miguel A. Gómez-Martínez, Perspectives on Consumer Habits with Domestic Refrigerators and Its Consequences of Energy Consumption: Case of Study in Guanajuato, Mexico. Energies, 12, 2019, 860.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/326163959_Energy_and_exergy_performance_of_the_IHX_position_in_ejector_expansion_refrigeration_systems">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.L. Rodríguez-Muñoz, V. Pérez-García, J.M. Belman-Flores, J.F. Ituna-Yudonago, A. Gallegos-Muñoz. Energy and exergy performance of the IHX position in ejector expansion refrigeration systems, Int. J. Refrigeration, 93, 2018, 122-131.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/322376290_Exergy_assessment_of_a_refrigeration_plant_using_computational_intelligence_based_on_hybrid_learning_methods">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.M. Belman-Flores, J.M. Barroso-Maldonado, Sergio Ledesma, V. Pérez-García, A. Gallegos-Muñoz, J.A. Alfaro-Ayala. Exergy assessment of a refrigeration plant using computational intelligence based on hybrid learning methods, Int. J. Refrigeration, 88, 2018, 35-44.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/324869369_Comparison_of_the_thermo-hydraulic_performance_and_the_entropy_generation_rate_for_two_types_of_low_temperature_solar_collectors_using_CFD">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.J. Ramírez-Minguela, J.A. Alfaro-Ayala, V.H. Rangel-Hernández, A.R. Uribe-Ramírez, J.M. Mendoza-Miranda, V. Pérez-García, J.M. Belman-Flores. Comparison of the thermo-hydraulic performance and the entropy generation rate for two types of low temperature solar collectors using CFD. Solar Energy, 166, 2018, 123-137.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/317273598_Entropy_generation_analysis_of_a_SOFC_by_CFD_Influence_of_electrochemical_model_and_its_parameters">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">José J. Ramírez-Minguela, Juan M. Mendoza-Miranda, José L. Rodríguez-Muñoz, Vicente Pérez-García, Jorge A. Alfaro-Ayala, Agustín R.Uribe-Ramírez, Entropy generation analysis of a SOFC by CFD: Influence of Electrochemical model and its parameters, Thermal Science, 22, 2018, 1B, 577-589.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/316243890_Second_Law_Analysis_of_a_Mobile_Air_Conditioning_System_with_Internal_Heat_Exchanger_Using_Low_GWP_Refrigerants">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">Vicente Pérez-García, Juan M. Belman-Flores, José L. Rodríguez-Muñoz, Víctor H. Rangel-Hernández, Armando Gallegos-Muñoz. Second Law Analysis of a Mobile Air Conditioning System with Internal Heat Exchanger Using Low GWP Refrigerants, Entropy, 19, 2017, 175.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/308723821_Transient_behavior_of_CO2_in_the_internal_heat_exchanger_during_the_start-up_of_the_transcritical_refrigeration_system">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">Jean F. Ituna-Yudonago, Juan Manuel Belman-Flores, Francisco Elizalde-Blancas, Juan Serrano-Arellano, Vicente Pérez-García, Diana G. Gutiérrez-León. Transient behavior of CO2 in the internal heat exchanger during the start-up of the transcritical refrigeration system. Science and Technology for the Built Environment, 23, 2017, 594-607.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.sciencedirect.com/science/article/abs/pii/S1359431116300424">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">V. Pérez-García, J.L. Rodríguez-Muñoz, J.J. Ramírez-Minguela, J.M. Belman-Flores, S. Méndez-Díaz, Comparative analysis of energy improvements in single transcritical cycle in refrigeration mode. Applied Thermal Engineering, 99, 2016, 866-872.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/301733864_Study_of_the_entropy_generation_in_a_SOFC_for_different_operating_conditions">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.J. Ramírez-Minguela, A.R. Uribe-Ramírez, J.M. Mendoza-Miranda, V. Pérez-García, J.L. Rodríguez-Muñoz, J.I. Minchaca-Mojica, J.A. Alfaro-Ayala. Study of the entropy generation in a SOFC for different operating conditions, Hydrogen Energy, 41, 2016, 8978-8991.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/282366200_An_overview_of_refrigeration_and_its_impact_on_the_development_in_the_Democratic_Republic_of_Congo">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">Jean Fulbert Ituna-Yudonago, J.M. Belman-Flores, V. Pérez-García, An overview of refrigeration and its impact on the development in the Democratic Republic of Congo, Journal of Energy in Southern Africa, 26, No. 3, 2015, 79-89.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/272379715_Solid_oxide_fuel_cell_numerical_study_Modified_MOLB-type_and_simple_planar_geometries_with_internal_reforming">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J. Ramírez-Minguela, J.L. Rodríguez-Muñoz, V. Pérez-García; J.M. Mendoza-Miranda; V.D. Muñoz-Carpio; J.A. Alfaro-Ayala, Solid oxide fuel cell numerical study: modified MOLB-type and simple planar geometries with internal reforming, Electrochimica Acta, 159, 2015, 149-157.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/279023692_General_aspects_of_carbon_dioxide_as_a_refrigerant">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.M. Belman-Flores, Vicente Pérez-García, Jean-Fulbert Ituna Yudonago, José Luis Rodríguez-Muñoz and José de Jesús Ramírez-Minguela, General aspects of carbon dioxide as a refrigerant, Journal of Energy in Southern Africa, 25, No. 2, 2014, 96-106.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/259158741_Review_of_diffusion-absorption_refrigeration_technologies">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.M. Belman.Flores, J.L. Rodríguez-Muñoz, C. Rubio-Maya, J.J. Ramírez-Minguela, V. Pérez-García, Energetic analysis of a diffusion-absortion system: A bubble pump under geometrical and operational conditions effects, Applied Thermal Engineering, 71, 2014, 1-10.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/260015616_Internal_reforming_of_methane_in_a_mono-block-layer_build_solid_oxide_fuel_cell_with_an_embedding_porous_pipe_Numerical_analysis">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.J. Ramírez-Minguela, J.M. Mendoza-Miranda, V.D. Muñoz-Carpio, V. H. Rangel-Hernández, V. Pérez-García, J.L. Rodríguez-Muñoz, Internal reforming of methane in a mono-block layer build solid oxide fuel cell with an embedding porous pipe: Numerical analysis, Energy Conversion And Management, 79, 2014, 461-469.</p>
        </div>
        <div class="col-md-0.5">
        <a href="https://www.researchgate.net/publication/271562785_Comparative_study_of_transcritical_vapor_compression_configurations_using_CO2_as_refrigeration_mode_base_on_simulation">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">V. Pérez-García, J.M. Belman Flores, J. Navarro-Esbrí, C. Rubio-Maya, Comparative study of transcritical vapor compression configurations using CO2 as refrigeration mode base on simulation, Applied Thermal Engineering, Vol. 51 (2013), 1038-1046.</p>
        </div>
        <div class="col-md-0.5">
        <a href="http://www.actauniversitaria.ugto.mx/index.php/acta/article/view/426/pdf_59">
        <i class="fa fa-link fa-1x" aria-hidden="true"></i>
        <a>
        </div>
        <div class="col-md-15">
          <p class="text-muted">J.M. Belman Flores, V. Pérez García, CO2 como refrigerante: del pasado al futuro, Acta Universitaria, Vol. 23, No. 2, Marzo-Abril 2013, 19-26.</p>
          <a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}