{% extends 'base/base.html' %}

{% block body %}
<section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Historia</h2>
          <h3 class="section-subheading text-muted">Asi comenzo todo.</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/11.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016</h4>
                  <h4 class="subheading">El grupo de Investigación Ingeniería Aplicada a Sistemas Energéticos </h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">El INASE se creó a partir de la necesidad de realizar investigación en el área de 
                    sistemas energéticos, particularmente en sistemas de refrigeración utilizando refrigerantes de bajo 
                    potencial de calentamiento global (GWP). Teniendo su sede en la División de Ingeniería Campus Irapuato 
                    Salamanca, de la Universidad de Guanajuato, el INASE colabora en la formación de recursos humanos a 
                    nivel posgrado siendo una opción para estudiantes de maestría y doctorado interesados en desarrollar 
                    tecnología aplicada a sistemas de refrigeración. </p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/20.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Los primeros proyectos</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Los proyectos realizados fueron encaminados en la dirección del uso de fluidos naturales 
                    como el CO2 como sustituto al R134a en aplicaciones de refrigeración comercial y doméstica. Actualmente, 
                    el grupo INASE desarrolla proyectos no solo con refrigerantes naturales, sino que se ha introducido la línea de 
                    fluidos (Hidrofluoro-olfefinas) HFOs y mezclas (HFO-HFC), manteniendo siempre el objetivo por el cual fue creado: 
                    Investigación usando fluidos de bajo GWP.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/31.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Primera linea de investigacion dentro del grupo</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">-	Desarrollo de configuraciones que aumenten el desempeño energético de sistemas de refrigeración.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4></h4>
                  <h4 class="subheading">Segunda linea de investigacion dentro del grupo</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">-	Evaluación de propiedades termofísicas de refrigerantes de bajo GWP: Naturales y 
                    sintéticos dentro de los que figuran: CO2, HFOs, Mezclas HFO-HFC e Hidrocarburos.</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="static/img/about/aire-acondicionado-auto.png" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  
                  <h4 class="subheading">Tercera linea de investigacion dentro del grupo</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">-	Mejoras a sistemas de aire acondicionado automotriz mediante el uso de 
                    refrigerantes alternativos al R134a y configuraciones novedosas.</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>¡Se parte
                  <br>de nuestra
                  <br>historia!</h4>
              </div>
            </li>
            
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
{% block servicios %}
{% endblock %}